# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
  /home/nas/poky/meta \
  /home/nas/poky/meta-poky \
  /home/nas/poky/meta-yocto-bsp \
  /home/nas/poky/meta-openembedded/meta-oe \
  /home/nas/poky/meta-sunxi \
  /home/nas/poky/meta-nas \
  "
